<div class="container">
  <div class="input-group">
    <input 
      placeholder="Search for any location" 
      type="text"
      class="form-control" 
      id="search">
    <i class="icon-search"
       id="search-btn"
       (click)="newSearch()"></i>
      
    <!-- <span id="search-btn" 
            class="btn btn-secondary"
            (click)="newSearch()">Search</span> -->
  </div>

  <div class="result-container">
    <div id="list">
      <ul *ngIf="!markers || !markers.length">
        <li class="result-item-none">
          No results!
        </li>
      </ul>
      <ul *ngIf="markers && markers.length">
        <li class="result-item"
            (mouseenter)="selectMarker(i)"
            (click)="selectMarker(i)"
            *ngFor="let result of filteredResults; let i=index">
          {{i + 1}}. {{ result.name }}
        </li>
      </ul>

    </div>

    <div id="map"></div>
  </div>
</div>