<div class="container">
  <!-- <div class="header">Search for a place!</div> -->

  <div class="form-group">
    <input 
      placeholder="Search for any location" 
      type="text"
      class="form-control" 
      id="search">
      <button id="search-btn" (click)="newSearch()">Search</button>
  </div>

  
  <div class="result-container">
    <div id="list">
      <ul *ngIf="!markers || !markers.length">
        <li class="result-item-none">
          No results!
        </li>
      </ul>
      <ul *ngIf="markers && markers.length">
        <li class="result-item"
            (mouseenter)="selectMarker(i)"
            (click)="selectMarker(i)"
            *ngFor="let marker of filteredMarkers; let i=index">
          {{i + 1}}. {{ marker.title }}
        </li>
      </ul>

    </div>

    <div id="map"></div>
  </div>
</div>