/* agm-map {
  height: 300px;
} */

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#map {
  min-height: 300px;
  flex-grow: 1;
}

#list {
  width: 20%;
  text-decoration: none;
  overflow-y: auto;
}

#search {
  box-sizing : border-box;
  width: 100%;
  height: 50px;
  padding: 12px 12px 11px 10px;
  font-size: 16px;
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  height: 50px;
  display: flex;
  align-self: center;
}

.result-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.result-item {
  cursor: pointer;
  box-sizing: border-box;
  padding: 20px 18px 20px 24px;
  border-bottom: 1px solid #e6e6e6;
}

.form-group {

}

.form-control {
  width: 100%;
}