<div class="container">
  <h1>Search for a place!</h1>

  <div class="form-group">
      <input 
        placeholder="Search for a location" 
        autocorrect="off" 
        autocapitalize="off" 
        spellcheck="off" 
        type="text"
        class="form-control" 
        id="search"
        #search>
        <!-- <form (ngSubmit)="onSubmit()"></form> -->
    </div>

  
  <div class="result-container">
    <div id="list">
      Places
      <ul>
        <li *ngFor="let marker of markers">
          {{ marker.title }}
        </li>
      </ul>

    </div>

    <div id="map"></div>
  </div>


  <!-- <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map> -->
</div>