ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#map {
  min-height: 300px;
  flex-grow: 1;
}

#list {
  width: 20%;
  text-decoration: none;
  overflow-y: auto;
  background-color: #FFF;
}

#search {
  box-sizing : border-box;
  width: 100%;
  height: 50px;
  padding: 12px 12px 11px 10px;
  font-size: 16px;
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: 1px solid;
  padding: 0;
  border-left: 2px solid #9bc2cf;
  border-right: 2px solid #9bc2cf;
}

.header {
  height: 50px;
  display: flex;
  align-self: center;
}

.result-container {
  display: flex;
  flex-direction: row;
  /* flex-grow: 1; */
  flex-basis: 92%;
}

.result-item {
  cursor: pointer;
  box-sizing: border-box;
  padding: 20px 18px 20px 24px;
  border-bottom: 1px solid #e6e6e6;
}

.result-item-none {
  padding: 20px 18px 20px 24px;
  background-color: #FFF;
  font-weight: normal;
}

.result-item:hover {
  background-color: #f6fbfc;
  /* font-weight: bold; */
}

.input-group {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  flex-basis: 8%;
}

.icon-search {
  display: inline-block;
  font-size: 25px;
  line-height: 50px;
  background-color: #7b7d7e;
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: bottom;
  cursor: pointer;
}

.icon-search:hover {
  background-color: #494b4b;
  color: white;
}

.form-control {
  width: 100%;
}

/* .form-control:focus {
  border: 2px solid #7b7d7e;
} */